html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 6px 0px;
}

.time{
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5)
}

.title{
  cursor: pointer;
}

p{
  margin:0px
}

button{
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  margin-top: 10px;
}

#markings {
  padding-left:0px;
  color: white;
  font-size: 15px;
  overflow: auto;
  margin:0px;
  font-family: Roboto, Arial, sans-serif;
  padding: 5px;
}

progress{
  min-width: 100%;
}

.dimmed{
  color: rgba(255, 255, 255, 0.5)
}
.textInput * {
  position: relative;
  float: left;
}

.textInput #currentMark {
  width: 99%;
}

.importExportWindow {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.importExportWindow.active {
  max-height: 40px;
}

#dropdownData>p {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  top: 1px;
  right: 5px;
  border: 2px solid darkgrey;
  border-radius: 4px;
  color: black;
  background-color: white;
  rotate: 90deg;
  transition: transform 0.2s ease-out;
  z-index: 2;
}

#dropdownData.active>p {
  background-color: darkgrey;
  transform: rotate(-90deg) scale(0.8);
}
